<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Redirecting...</title>
    <script>
      const userLang = navigator.language;
      if (userLang.startsWith("de")) {
        window.location.href = "/de/";
      } else {
        window.location.href = "/en/";
      }
    </script>
  </head>
  <body> Redirecting... </body>
</html>
